.res {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  padding: 40px;
  color: #ffffff;
  margin: 20px;
  background-size: cover;
  min-height: 500px;
  min-width: 400px;
}

.thophy-img {
  position: relative;
  top: 100px;
  left: 20px;
  height: 200px;
}

.rest {
  position: relative;
  top: 100px;
}
.reset-btn-ontainer {
  background-color: #cf60c8;
  border-radius: 5px;
  padding: 4px 10px 4px 10px;
}
.reset {
  color: #ffffff;

  font-weight: 700;
}
