/* Write your code here. */

.nav {
  background-color: #2c0e3a;
  width: 100%;
  padding: 5px;
}
.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.gamelogo {
  height: 30px;
}
.score-div {
  margin-right: 20px;
}
.icon {
  height: 20px;
}
.score-n {
  color: #ffffff;
  margin-right: 20px;
}
.score {
  font-weight: 300;
  color: #fec653;
  font-size: 20px;
}
.timer {
  font-weight: 300;
  font-size: 20px;
  color: #fec653;
}
